# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

---
Language: Cpp
Standard: c++20
BasedOnStyle: LLVM
DisableFormat: false
# LineEnding: CRLF

# --- GENERAL
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: Left
AlignOperands: false
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false  
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeConceptDeclarations: Never
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: BeforeComma
BreakStringLiterals: false
ColumnLimit: 175
CompactNamespaces: true
ContinuationIndentWidth: 4
FixNamespaceComments: false
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExternBlock: Indent
IndentWidth: 4
LambdaBodyIndentation: Signature
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
PenaltyBreakAssignment: 20000
PenaltyReturnTypeOnItsOwnLine: 20000
PointerAlignment: Left
QualifierAlignment: Left 
SortUsingDeclarations: true
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: Never
SpacesInConditionalStatement: false
TabWidth: 4
UseTab: Always

# --- CLASS
AccessModifierOffset: -2
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock

# --- BRACES
BreakBeforeBraces: Custom
BraceWrapping: 
  AfterCaseLabel: false
  AfterClass: false 
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  SplitEmptyFunction: false
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
Cpp11BracedListStyle: false
InsertBraces: true
SpaceBeforeCpp11BracedList : false

# Variable alignment
AlignConsecutiveAssignments: false
AlignConsecutiveBitFields: false
AlignConsecutiveDeclarations: false
BitFieldColonSpacing: Both
BinPackArguments: false

# Macros
AlignConsecutiveMacros: true
MacroBlockBegin: ''
MacroBlockEnd: ''

# Preprocessor directives
IndentPPDirectives: AfterHash
PPIndentWidth: 4
SortIncludes: CaseInsensitive
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^<.*'
    Priority: 1
  - Regex: '^".*'
    Priority: 2
  - Regex: '.*'
    Priority: 3
IncludeIsMainRegex: '([-_](test|unittest))?$'
...
