## ===================== ZERON ENGINE =====================
.vs/
Build/
out/
Engine/ThirdParty/*/*
!Engine/ThirdParty/*/update.py
!Engine/ThirdParty/*/CMakeLists.txt
!Engine/ThirdParty/*/utils/
CMakeUserPresets.json

# VS Code
.cache/
.vscode/

# Python
__pycache__

# Other
_ReSharper.Caches/