## ===================== ZERON ENGINE =====================
Solution/
Engine/ThirdParty/*/*
!Engine/ThirdParty/*/install.py
!Engine/ThirdParty/*/CMakeLists.txt

# VS Code
.vscode

# Python
__pycache__