[submodule "fmt - Formatting Library"]
	path = Engine/ThirdParty/fmt/.submodule
	url = https://github.com/fmtlib/fmt.git
[submodule "glfw - Desktop Window Library"]
	path = Engine/ThirdParty/GLFW/.submodule
	url = https://github.com/glfw/glfw.git
[submodule "glm - Math Library"]
	path = Engine/ThirdParty/glm/.submodule
	url = https://github.com/g-truc/glm.git
[submodule "GoogleTest - Testing and Mocking Framework"]
	path = Engine/ThirdParty/GoogleTest/.submodule
	url = https://github.com/google/googletest.git
[submodule "ImGui - Graphical User Interface Library"]
	path = Engine/ThirdParty/ImGui/.submodule
	url = https://github.com/ocornut/imgui.git
[submodule "STB - Image Loading Library"]
	path = Engine/ThirdParty/stb/.submodule
	url = https://github.com/nothings/stb.git
[submodule "Vulkan-Headers - Vulkan CPP Headers"]
	path = Engine/ThirdParty/Vulkan-Headers/.submodule
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Engine/ThirdParty/tinygltf/.submodule"]
	path = Engine/ThirdParty/tinygltf/.submodule
	url = https://github.com/syoyo/tinygltf
[submodule "Engine/ThirdParty/cereal/.submodule"]
	path = Engine/ThirdParty/cereal/.submodule
	url = https://github.com/USCiLab/cereal.git
